<footer class="footer">
    <div class="container">
        <div class="footer__col">
            <img class="footer__lofo" src="img/logo.svg" alt="">
            <div class="footer__desc"><strong>Компания «КомплектНавигатор»</strong> более <br> пятнадцати лет является <strong>надежным <br> партнером многих производителей</strong> <br> оконных конструкций и строительных <br> организаций</div>
        </div>
        <div class="footer__col">
            <div class="footer__title">ГЛАВНАЯ</div>
            <a href="javascript:void(0)">О компании</a>
            <a href="javascript:void(0)">Сертификаты</a>
            <a href="javascript:void(0)">Контакты</a>
        </div>
        <div class="footer__col">
            <div class="footer__title">ВСЕ КАТЕГОРИИ</div>
            <a href="javascript:void(0)">Для ПВХ</a>
            <a href="javascript:void(0)">Для дерева</a>
            <a href="javascript:void(0)">Для алюминия</a>
            <a href="javascript:void(0)">Для стеклопакетов</a>
            <a href="javascript:void(0)">Автоматические системы</a>
            <a href="javascript:void(0)">Роллетные и воротные системы, <br> шлагбаумы</a>
        </div>

        <div class="footer__contacts">
            <div class="footer__title">Контакты</div>
            <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-point"></use></svg> Казань, Дементьева 2Б</a>
            <a href="tel:8432609918"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-phone"></use></svg> (843) 260-99-18 <br> (многоканальный)</a>
            <a href="mailto:sale@tkkn.ru"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-mail"></use></svg> sale@tkkn.ru</a>
        </div>
    </div>
    <div class="container">
        © 2012-2021 «ТК Комплект Навигатор» <br>
        Все права защищены.
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script src="js/main.js"></script>
</body>
</html>