<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head>
<body>

<section class="menu">
    <div class="container">
        <div class="menu__list">
            <a href="javascript:void(0)">Главная</a>
            <a href="javascript:void(0)">О компании</a>
            <a href="javascript:void(0)">Продукция</a>
            <a href="javascript:void(0)">Сертификаты</a>
            <a href="javascript:void(0)">Контакты</a>
        </div>
        <div class="menu__search">
            <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-search"></use></svg>
            <input type="text" placeholder="Поиск...">
        </div>
    </div>
</section>

<header class="header">
    <div class="container">
        <a href="javascript:void(0)" class="header__logo"><img src="img/logo.svg" alt=""></a>
        <div class="header__title">
            <div>Комплектующие для производства <br> <span>окон, дверей и стеклопакетов, системы ПВХ профилей</span></div>
        </div>
        <div class="header__right">
            <div class="header__city">
                <span>Ваш город:</span>
                <div class="header__city-current">Набережные Челны <svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-dropdown"></use></svg></div>
            </div>
            <a href="tel:88312485889" class="header__phone"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-phone"></use></svg> 8 (831) 248-58-89</a>
        </div>
    </div>
</header>